


# ------------------------------
# java
# ------------------------------
*.class
/target/
bin/
build/
logs/

*.log

# ------------------------------
# eclipse 
# ------------------------------
.settings/
.classpath
.project

# ------------------------------
# tomcat
# ------------------------------
META-INF/

# ------------------------------
# project
# ------------------------------
**/eclipse/*.xml
**/eclipse/*.properties
**/eclipse/*.bak
**/eclipse/*.dat


# ------------------------------
# other
# ------------------------------
.DS_Store

ignorefile_*

